.main-grid {
    flex-grow: 1;
    background-color: #fcfcfc;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .main-grid-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  
  .grid-title {
    font-size: 28px;
    color: #333333;
    margin-bottom: 20px;
  }
  
  .grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    color: #333333;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  .card:active {
    /* transform: translateY(5px); */
    transform: scale(0.98);

  }
  